/* this css sheet is for both index and the about html */


body{
    background-color: skyblue;
}
h1{
    border: solid 15px gold;
    font-size: 6em;
    display: flex;
    justify-content: center;
    margin-bottom: 50;
    font-family: 'Italianno', cursive;
    background-color: #03a8f4;
}
h2{
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Italianno', cursive;
}
#sec1{
  
    width: 960px;
    display: flex;
    justify-content: left;
    margin-bottom: 300px;
}

#sec2{
    width: 960px;
    display: flex;
    justify-content: left;
}
.div1{

    margin-left: 100px;
}
.img1{
    margin-right: 50px;
    float: left;
}
 .div2{
    margin-left: 5200px; */
 }
 .img2{
    margin-right: 50px;
    float: left;
 }
 .div3{

    margin-left: 50px;
}
.img3{
    margin-right: 50px;
    float: left;
}

 .div3{
    margin-left: 50px;

 }



 .div4{
    margin-left: 960px;
     
 }
 .img4{
    margin-right: 50px;
    float: left;
 }

 #home2{
     width: 1920px;
     display: flex;
     justify-content: space-evenly;
 }
 .homeimg{
     display: flex;
     justify-content: space-evenly;
     margin-bottom: 50px;
 }

#homeh1{
    margin-left: 3em;
    width: 1369px;
    display: flex;
    justify-content: center;
}

#homeform3{
    color: brown;
    font-size: 2em;
    font-family: 'Italianno', cursive;
    margin-top: 2em;
    display: flex;
    margin-left:700px ;
}
#userName{
  height: 30px;
  width: 200px;
  margin-left: 10px;
  font-size: .5em;
  font-family: 'Italianno', cursive;
  color: brown;
  font-weight: bolder;
}
#homebutton{
    width: 1920px;
    display: flex;
    justify-content: left;
    margin-left: 300px;
    margin-top: 3em;
}

#homeradio1{
    width: 1920px;
    display: flex;
    justify-content: space-evenly;
   
}

.homeradio3{
    margin-left: 8em;
    margin-right: 8em;
}






button {
  position: absolute;
  left: 900px;
  top: 1120px;
    font-family: 'Italianno', cursive;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    
    text-decoration: none;
    outline: none;
    color: gold;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    
  }
  
  button:hover {background-color: tomato}
  
  button:active {
    background-color: tomato;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
  background-color: brown;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: aqua;
    display: block;
    transition: 0.3s;
    text-decoration: underline;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: gold;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {

    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #menu{
      cursor: pointer; 
      height: 900px;
      width: 900px;
      margin-left: 4em;
      
      color: gold;
    }
    #click{
        position: absolute;
        top:50px ;
        margin-top: 1em;
        font-size: 20px;
        font-family: 'Italianno', cursive;
        color:brown;
      
    }

    .howto{
      color: gold;
        padding-left: .5em;
        padding-right: .5em;
        line-height: 2em;
        font-family: 'Italianno', cursive;
    }





/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }

  
  